[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
django = "*"
graghene-django = "*"
django-graphql-jwt = "*"
django-cors-headers = "*"
graphene = "*"

[requires]
python_version = "3.7"
